body {
  margin: 0;
  font: caption;
  font-size: 13px;
}

input {
  padding-inline-start: 8px;
}

#outer-wrapper {
  width: 1200px;
  height: 900px;
  margin: 10px auto;
  position: relative;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
}

#lb-icon {
  height: 28px;
  width: 28px;
  position: absolute;
  left: 1111px;
  top: 40px;
  border-radius: 4px;
}

#lb-icon:hover,
body[open=open] #lb-icon {
  background-color: hsla(240,5%,5%,.1);
}

#doorhanger {
  height: 0;
  opacity: 0;
  width: 345px;
  background-image: url("./assets/entrylist.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 51px;
  left: 843px;
  overflow: hidden;
  transition: transform 150ms cubic-bezier(.07, .95, 0, 1), opacity 150ms cubic-bezier(.07, .95, 0, 1);
}

#doorhanger[state=entrylist] #new-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 30px;
  left: 289px;
  text-align: center;
  background-color: #5AA1F8;
  border-radius: 3px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=entrylist] #new-button:hover {
  background-color: #2062D7;
}

#doorhanger[state=entrylist] #new-button img {
  margin-top: 7px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger:not([state=entrylist]) #new-button {
  display: none;
}

#doorhanger[open=open] {
  height: 546px;
  transform: translateY(5px);
  opacity: 1;
}

#doorhanger[state=new-entry] {
  background-image: url("./assets/newentry.png");
}

#doorhanger[state=generate] {
  background-image: url("./assets/prompt.png");
}

#doorhanger[state=results][type=passphrase] {
  background-image: url("./assets/phrase_generated.png");
}

#doorhanger[state=results][type=password] {
  background-image: url("./assets/characters_generated.png");
}

#doorhanger[state=results][options=true][type=password] {
  background-image: url("./assets/password_options.png");
}
#doorhanger[state=results][options=true][type=passphrase] {
  background-image: url("./assets/phrase_options.png");
}

#doorhanger[state=confirmation] {
  background-image: url("./assets/confirmation.png");
}

#doorhanger:not([state=new-entry]) .new-entry-inputs *,
#doorhanger:not([state=generate]) .generate-inputs *,
#doorhanger:not([state=results]) #results *,
#doorhanger:not([state=confirmation]) .confirmation * {
  display: none;
}

#doorhanger[state=new-entry] input {
  position: absolute;
  width: 267px;
  height: 27px;
  left: 30px;
}

#go-back {
  display: none;
}

#doorhanger[state=new-entry] #go-back,
#doorhanger[state=generate] #go-back,
#doorhanger[state=results] #go-back {
  width: 30px;
  height: 24px;
  position: absolute;
  top: 25px;
  left: 16px;
  border-radius: 2px;
  text-align: center;
  display: block;
}

#go-back:hover {
  background-color: #CCCACD;
  opacity: 0.80;
}

#go-back img {
  vertical-align: -41%;
}

#doorhanger[state=new-entry] #eye {
  position: absolute;
  left: 287px;
  top: 328px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=new-entry] #name {
  top: 100px;
}

#doorhanger[state=new-entry] #address {
  top: 173px;
}

#doorhanger[state=new-entry] #username {
  top: 246px;
}

#doorhanger[state=new-entry] #password {
  top: 319px;
}

#doorhanger[state=new-entry] #notes {
  position: absolute;
  width: 276px;
  left: 31px;
  top: 391px;
  height: 75px;
  resize: none;
}

#doorhanger[state=new-entry] #generate {
  position: absolute;
  width: 126px;
  height: 17px;
  top: 298px;
  left: 190px;
  background-color: #EDEDF0;
}

#doorhanger[state=new-entry] #generate span {
  color: #2667D8;
  text-decoration: none;
  letter-spacing: .2px;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=new-entry] #generate span:hover {
  color: #1B4A9B;
}

#doorhanger[state=new-entry] #save-entry {
  position: absolute;
  top: 489px;
  width: 160px;
  height: 41px;
  left: 11px;
  background-color: #95BBEF;;
  border-radius: 0 0 0 6px;
  color: white;
  text-align: center;
  line-height: 41px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .4px;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#doorhanger[state=new-entry] #save-entry.enabled,
#dismiss {
  background-color: #0060df;
}

#doorhanger[state=new-entry] #save-entry.enabled:hover,
#dismiss:hover {
  background-color: #003EAA;
}

#doorhanger[state=new-entry] #save-entry.enabled:active,
#dismiss:active {
  background-color: #002275;
}



#doorhanger[state=generate] #change-q {
  width: 182px;
  height: 23px;
  position: absolute;
  top: 253px;
  left: 83px;
  line-height: 23px;
  background-color: #F9F9FA;
  cursor: default;
}

#doorhanger[state=generate] #change-q span {
  color: #2667D8;
  letter-spacing: .3px;
}

#doorhanger[state=generate] #change-q span:hover {
  color: #1B4A9B;
}

#doorhanger[state=generate] #answer {
  position: absolute;
  width: 248px;
  height: 26px;
  top: 216px;
  left: 41px;
}

#doorhanger[state=generate] #prompt {
  position: absolute;
  width: 258px;
  height: 40px;
  top: 163px;
  left: 41px;
  text-align: center;
  color: #171718;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=generate] #continue {
  opacity: 0;
  position: absolute;
  width: 160px;
  height: 41px;
  top: 294px;
  left: 11px;
  border-radius: 0 0 0 6px;
}
#doorhanger[state=results] #results-wrapper {
  position: absolute;
  top: 113px;
  left: 30px;
  width: 243px;
  height: 29px;
  background-color: #EDEDF0;
  border: 1px #AAAAAC solid;
  padding-left: 8px;
  color: #38383D;
  padding-right: 28px;
}

#doorhanger[state=results] #generated-result {
  line-height: 25px;
  font-size: 18px;
  color: #38383D;
  overflow-x: auto;
  white-space: nowrap;
}

#doorhanger[state=results] #generated-result:active,
#doorhanger[state=results] #generated-result:focus {
  outline: none;
}

#doorhanger[state=results] #results-wrapper:hover {
  background-color: white;
}

#doorhanger[state=results] #results-wrapper:active,
#doorhanger[state=results] #results-wrapper:focus {
  background-color: white;
  outline: #F7F7F7 solid 1px;
}

#doorhanger[state=results] #header {
  position: absolute;
  top: 65px;
  height: 42px;
  width: 277px;
  left: 31px;
  text-align: center;
  color: #545459;
}

#doorhanger[state=results] #header p {
  margin: 4px;
  cursor: default;
  font-size: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=results][type=passphrase] #results #password-switch:hover,
#doorhanger[state=results][type=password] #results #passphrase-switch:hover {
  color: #1B4A9B;
}

#doorhanger[state=results][type=passphrase] #password-switch,
#doorhanger[state=results][type=password] #passphrase-switch {
  color: #2667D8;
}

#doorhanger[state=results] #results #password-switch,
#doorhanger[state=results] #results #passphrase-switch {
  font-size: 13px;
}

#doorhanger[state=results] #regenerate {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 115px;
  left: 281px;
  text-align: center;
  line-height: 28px;
}

#doorhanger[state=results] #regenerate img {
  vertical-align: -10%;
}

#doorhanger[state=results] #options {
  width: 160px;
  height: 26px;
  position: absolute;
  top: 192px;
  left: 155px;
  cursor: pointer;
}

#doorhanger[state=results] #generated-result:not([edited=true]) span {
  color: #A7267C;
}

#doorhanger[state=results] #results #use-this {
  position: absolute;
  width: 320px;
  height: 42px;
  top: 231px;
  left: 11px;
}

#doorhanger[state=results][options=true] #results #use-this {
  top: 343px;
}

#doorhanger[state=confirmation] .confirmation #confirmation-message {
  position: absolute;
  width: 319px;
  height: 34px;
  top: 121px;
  left: 10px;
  text-align: center;
  font-size: 19px;
  color: #6D6D71;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#doorhanger[state=confirmation] .confirmation #dismiss {
  position: absolute;
  width: 161px;
  height: 42px;
  top: 179px;
  left: 10px;
  border-radius: 0 0 0 6px;
  text-align: center;
  color: #FFF;
}

#doorhanger[state=confirmation] .confirmation #dismiss span {
  margin-top: 13px;
  display: block;
}
