body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: 1200; /* width, height is auto need to cut some off*/
  font: caption;
  font-size: 13px;
}

#lb-icon {
  height: 26px;
  width: 26px;
  position: absolute;
  left: 1111px;
  top: 40px;
  cursor: pointer;
}

#doorhanger {
  height: 0;
  width: 345px;
  background-image: url("./assets/entrylist.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 61px;
  left: 842px;
  overflow: hidden;
}

#doorhanger[state=entrylist] #new-button {
  position: absolute;
  height: 31px;
  width: 31px;
  top: 29px;
  left: 288px;
  cursor: pointer;
}

#doorhanger[open=open] {
  height: 546px;
}

#doorhanger[state=new-entry] {
  background-image: url("./assets/newentry.png");
}

#doorhanger[state=generate] {
  background-image: url("./assets/prompt.png");
}

#doorhanger[state=results] {
  background-image: url("./assets/pwgenerated.png");
}

#doorhanger[state=results][options=true][type=password] {
  background-image: url("./assets/password_options.png");
}
#doorhanger[state=results][options=true][type=passphrase] {
  background-image: url("./assets/phrase_options.png");
}

#doorhanger[state=confirmation] {
  background-image: url("./assets/confirmation.png");
}

#doorhanger:not([state=new-entry]) .new-entry-inputs *,
#doorhanger:not([state=generate]) .generate-inputs *,
#doorhanger:not([state=results]) #results *,
#doorhanger:not([state=confirmation]) .confirmation * {
  display: none;
}

#doorhanger[state=new-entry] input {
  position: absolute;
  width: 272px;
  height: 22px;
  left: 31px;
}

#doorhanger[state=new-entry] #go-back {
  /* border: 1px solid red; */
  width: 37px;
  height: 37px;
  position: absolute;
  top: 18px;
  left: 11px;
  cursor: pointer;
}

#doorhanger[state=new-entry] #eye {
  position: absolute;
  left: 287px;
  top: 328px;
  cursor: pointer;
}

#doorhanger[state=new-entry] #name {
  top: 100px;
}

#doorhanger[state=new-entry] #address {
  top: 173px;
}

#doorhanger[state=new-entry] #username {
  top: 246px;
}

#doorhanger[state=new-entry] #password {
  top: 319px;
}

#doorhanger[state=new-entry] #notes {
  top: 392px;
  height: 69px;
}

#doorhanger[state=new-entry] #generate {
  position: absolute;
  width: 124px;
  height: 17px;
  top: 297px;
  left: 188px;
  cursor: pointer;
}

#doorhanger[state=new-entry] #save-entry {
  position: absolute;
  top: 488px;
  width: 158px;
  height: 40px;
  left: 11px;
  cursor: pointer;
}

#doorhanger[state=generate] #change-q {
  /* border: red 1px solid; */
  width: 182px;
  height: 23px;
  position: absolute;
  top: 254px;
  left: 79px;
  cursor: pointer;
}

#doorhanger[state=generate] #answer {
  position: absolute;
  width: 256px;
  height: 26px;
  top: 216px;
  left: 41px;
}

#doorhanger[state=generate] #prompt {
  position: absolute;
  width: 258px;
  height: 40px;
  top: 163px;
  left: 41px;
  text-align: center;
  color: #171718;
  -moz-user-select: none;
}

#doorhanger[state=generate] #continue {
  opacity: 0;
  position: absolute;
  width: 160px;
  height: 41px;
  top: 294px;
  left: 11px;
  border-radius: 0 0 0 6px;
}

#doorhanger[state=results] #generated-result {
  position: absolute;
  top: 115px;
  left: 31px;
  width: 244px;
  height: 27px;
  background: transparent;
  border: 1px #AAAAAC solid;
  line-height: 25px;
  font-size: 18px;
  padding-left: 5px;
  color: #38383D;
  padding-right: 28px;
}

#doorhanger[state=results] #header {
  position: absolute;
  top: 65px;
  height: 42px;
  width: 277px;
  left: 31px;
  text-align: center;
  color: #6D6D71;
}

#doorhanger[state=results] #header p {
  margin: 11px;
  cursor: default;
  font-size: 20px;
  -moz-user-select: none;
}

#doorhanger[state=results][type=passphrase] #results #password-switch:hover,
#doorhanger[state=results][type=password] #results #passphrase-switch:hover {
  color: purple !important;
  cursor: pointer;
}

#doorhanger[state=results][type=passphrase] #password-switch,
#doorhanger[state=results][type=password] #passphrase-switch {
  color: #1D64D7;
}

#doorhanger[state=results] #results #password-switch,
#doorhanger[state=results] #results #passphrase-switch {
  font-size: 13px;
}

#doorhanger[state=results] #regenerate {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 115px;
  left: 281px;
}

#doorhanger[state=results] #options {
  width: 160px;
  height: 26px;
  position: absolute;
  top: 192px;
  left: 155px;
  /* border: red 1px solid; */
  cursor: pointer;
}

#doorhanger[state=results] #generated-result span {
  color: #A7267C;
}

#doorhanger[state=results] #results #use-this {
  /* border: red 1px solid; */
  cursor: pointer;
  position: absolute;
  width: 318px;
  height: 41px;
  top: 231px;
  left: 11px;
}

#doorhanger[state=confirmation] .confirmation #confirmation-message {
  position: absolute;
  width: 319px;
  height: 34px;
  /* border: red 1px solid; */
  top: 121px;
  left: 10px;
  text-align: center;
  font-size: 19px;
  color: #6D6D71;
  -moz-user-select: none;
}

#doorhanger[state=confirmation] .confirmation #dismiss {
  position: absolute;
  width: 161px;
  height: 42px;
  top: 179px;
  left: 10px;
  cursor: pointer;
}
